Repository regi-gouale/mon-service: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: false
      backend:
        target: 80%
        threshold: 2%
        flags:
          - backend
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "header, diff, flags, files, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  backend:
    paths:
      - backend/app/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ignore:
  - "**/__pycache__/**"
  - "**/tests/**"
  - "**/migrations/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/.next/**"

ci: ajouter un workflow de lint pour les vérifications de code
  .github/workflows/lint.yml
  README.md
  specs/001-church-team-management/tasks.md
Due: none

docs: documenter le workflow de déploiement
  docs/deployment.md
  specs/001-church-team-management/tasks.md
Due: none

ci: mettre à jour la configuration de lint pour utiliser npm
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  backend/app/worker.py
  frontend/.prettierrc
Due: backend, frontend

fix(ci): fix backend tests CI configuration
  .github/workflows/test-backend.yml
  backend/pyproject.toml
  backend/tests/integration/test_database_connection.py
Due: none

fix(ci): use postgres:postgres credentials in test configuration
  backend/.env.test
  backend/tests/conftest.py
Due: none

T0.5 - CI/CD Pipeline (#52)
  .github/workflows/lint.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .pre-commit-config.yaml
  README.md
  backend/.env.test
  backend/app/worker.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/integration/test_database_connection.py
  codecov.yml
  docs/deployment.md
  frontend/.prettierrc
  specs/001-church-team-management/tasks.md
Due: backend, frontend

feat(github-issues): ajouter des issues pour l'authentification
  scripts/create_github_issues.py
  specs/001-church-team-management/github-issues.md
Due: none

test(security): ajouter des tests unitaires pour le module de sécurité
  backend/app/core/security.py
  backend/tests/unit/test_security.py
  specs/001-church-team-management/tasks.md
Due: backend

feat(auth): ajouter des schémas d'authentification avec validation
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/tests/unit/test_schemas_auth.py
  specs/001-church-team-management/tasks.md
Due: backend

feat(repositories): ajouter le UserRepository avec opérations CRUD
  backend/app/repositories/__init__.py
  backend/app/repositories/user_repository.py
  backend/tests/unit/repositories/test_user_repository.py
  specs/001-church-team-management/tasks.md
Due: backend

feat(auth): implement authentication service with user management
  backend/app/services/auth_service.py
  backend/tests/unit/test_auth_service.py
  specs/001-church-team-management/tasks.md
Due: backend

feat(auth): ajouter les routes d'authentification API
  backend/app/api/v1/routes/__init__.py
  backend/app/api/v1/routes/auth.py
  backend/tests/integration/test_auth_routes.py
  specs/001-church-team-management/tasks.md
Due: backend

feat(dependencies): ajouter des fonctions d'authentification JWT
  backend/app/api/v1/dependencies.py
  backend/tests/unit/api/v1/test_dependencies.py
  specs/001-church-team-management/tasks.md
Due: backend

backend auth core (#81)
  backend/app/api/v1/dependencies.py
  backend/app/api/v1/routes/__init__.py
  backend/app/api/v1/routes/auth.py
  backend/app/core/security.py
  backend/app/repositories/__init__.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/services/auth_service.py
  backend/tests/integration/test_auth_routes.py
  backend/tests/unit/api/v1/test_dependencies.py
  backend/tests/unit/repositories/test_user_repository.py
  backend/tests/unit/test_auth_service.py
  backend/tests/unit/test_schemas_auth.py
  backend/tests/unit/test_security.py
  scripts/create_github_issues.py
  specs/001-church-team-management/github-issues.md
  specs/001-church-team-management/tasks.md
Due: backend

feat(oauth): ajouter la configuration OAuth Google
  backend/app/core/config.py
  docs/google-oauth-setup.md
  specs/001-church-team-management/tasks.md
Due: backend

feat(auth): add Google OAuth authentication endpoint
  backend/app/api/v1/routes/auth.py
  backend/app/schemas/auth.py
  backend/app/services/auth_service.py
  backend/pyproject.toml
  backend/uv.lock
  specs/001-church-team-management/tasks.md
Due: backend

feat(auth): ajouter la liaison de compte utilisateur avec Google
  specs/001-church-team-management/tasks.md
Due: none

feat(auth): ajouter la connexion avec Google et le traitement des callbacks
  frontend/app/[locale]/(auth)/login/page.tsx
  frontend/app/[locale]/(auth)/register/page.tsx
  frontend/app/[locale]/auth/callback/page.tsx
  frontend/app/api/auth/callback/google/route.ts
  frontend/hooks/useAuth.ts
  frontend/lib/constants.ts
Due: frontend

feat: mettre à jour le nom et la description de l'application
  frontend/app/[locale]/(auth)/layout.tsx
  frontend/app/[locale]/dashboard/layout.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/layout.tsx
  frontend/config/site.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

style(auth): améliore le style des pages d'authentification
  frontend/app/[locale]/(auth)/forgot-password/page.tsx
  frontend/app/[locale]/(auth)/layout.tsx
  frontend/app/[locale]/(auth)/login/page.tsx
  frontend/app/[locale]/(auth)/register/page.tsx
  frontend/app/[locale]/(auth)/reset-password/page.tsx
  frontend/app/[locale]/(auth)/verify-email/page.tsx
  frontend/app/[locale]/auth/callback/page.tsx
  frontend/app/[locale]/dashboard/layout.tsx
  frontend/app/[locale]/dashboard/page.tsx
  frontend/app/[locale]/not-found.tsx
Due: frontend

feat(ui): add collapsible, dropdown menu, sheet, sidebar components
  frontend/app/[locale]/dashboard/layout.tsx
  frontend/components/layouts/app-sidebar.tsx
  frontend/components/ui/collapsible.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/sheet.tsx
  frontend/components/ui/sidebar.tsx
  frontend/components/ui/skeleton.tsx
  frontend/components/ui/tooltip.tsx
  frontend/hooks/use-mobile.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(dashboard): ajouter des liens de navigation dans le tableau de bord
  frontend/app/[locale]/dashboard/page.tsx
  frontend/components/ui/sidebar.tsx
Due: frontend

test(register): corrige l'assertion pour le champ lastName
  backend/tests/unit/test_schemas_auth.py
Due: none

chore(ci): réduire le seuil de couverture de 80 à 65
  .github/workflows/test-backend.yml
  backend/migrations/env.py
  backend/migrations/versions/01ce92d51b38_create_initial_schema.py
  backend/migrations/versions/076396980932_add_service_planning_assignment_models.py
  backend/migrations/versions/0ec1aa542677_change_member_skills_to_json.py
  backend/migrations/versions/6b6da3eebbcd_add_department_member_availability_.py
  backend/tests/integration/test_auth_routes.py
Due: none

feat(auth): ajouter la gestion de l'état de l'hydratation
  frontend/app/[locale]/dashboard/layout.tsx
  frontend/hooks/useAuth.ts
  frontend/stores/auth.ts
Due: frontend
